{#import "@layouts/public.jinja" as PublicLayout #}
{#import "@ui/nav/breadcrumb.jinja" as Breadcrumb #}
{#import "@ui/content/header.jinja" as PageHeader #}
{#import "@ui/layout/stack.jinja" as Stack #}
{#import "@features/blog/tags-fragment.jinja" as TagPosts #}
{#def seo, tags=(), posts=(), selected_tag="", page=1, total_pages=1, current_path="/blog" #}

<PublicLayout seo={{ seo }} current_path={{ current_path }}>
    {% if selected_tag %}
    {% set breadcrumb_items = (
        {"label": t.common.home, "href": "/" ~ current_lang ~ "/"},
        {"label": t.pages.blog.title, "href": "/" ~ current_lang ~ "/blog"},
        {"label": t.pages.blog.tags_breadcrumb, "href": "/" ~ current_lang ~ "/blog/tags"},
        {"label": selected_tag, "current": true},
    ) %}
    {% else %}
    {% set breadcrumb_items = (
        {"label": t.common.home, "href": "/" ~ current_lang ~ "/"},
        {"label": t.pages.blog.title, "href": "/" ~ current_lang ~ "/blog"},
        {"label": t.pages.blog.tags_breadcrumb, "current": true},
    ) %}
    {% endif %}

    <Stack gap="6" class_name="sm:space-y-8">
        <Stack gap="4" class_name="sm:space-y-6">
            <Breadcrumb items={{ breadcrumb_items }} />
            <PageHeader
                title={{ (t.pages.blog.tag_title_template.replace("{tag}", selected_tag)) if selected_tag else t.pages.blog.tags_heading }}
                subtitle={{ t.pages.blog.browse_by_topic }}
            />
        </Stack>

        <TagPosts tags={{ tags }} posts={{ posts }} selected_tag={{ selected_tag }} page={{ page }} total_pages={{ total_pages }} />
    </Stack>
</PublicLayout>
