{#def 
  title="Fabio Souza",
  lang="pt-BR",
  description="My personal website",
  navbar_links=None,
  brand=None
#}

{#css https://cdn.jsdelivr.net/npm/basecoat-css@0.3.10/dist/basecoat.cdn.min.css #}
{#js https://cdn.jsdelivr.net/npm/basecoat-css@0.3.10/dist/js/all.min.js #}
{#css /static/ui/ui.css #}
{#js https://unpkg.com/htmx.org@1.9.12 #}

{#import "@ui/ui/navbar.jinja" as Navbar #}
{#import "@ui/ui/footer.jinja" as Footer #}
{#import "@ui/ui/content.jinja" as Content #}

<!doctype html>
<html lang="{{ lang }}" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}

    {{ assets.render_css() }}
  </head>
  <body class="ui-body">
    {% set nav_links = navbar_links or [] %}
    <Navbar brand={{ brand or title }} links={{ nav_links }} />

    <Content>{{ content }}</Content>

    <Footer />
    {{ assets.render_js(module=False) }}
  </body>
</html>
