{#import "@layouts/base.jinja" as Base #}
{#import "@ui/nav/navbar.jinja" as Navbar #}
{#def seo, current_path="/" #}

<Base seo={{ seo }}>
    <Navbar current_path={{ current_path }} />

    <main class="scroll-snap-container">
        {{ content }}
    </main>
</Base>
