{#import "@layouts/base.jinja" as Base #}
{#import "@ui/nav/navbar.jinja" as Navbar #}
{#import "@ui/nav/footer.jinja" as Footer #}
{#def seo, current_path="" #}

<Base seo={{ seo }}>
    <Navbar current_path={{ current_path }} />

    <div class="max-w-4xl mx-auto px-4 sm:px-6 flex flex-col min-h-screen pt-16 sm:pt-20">
        <main class="flex-grow fade-in py-6 sm:py-8">
            {{ content }}
        </main>
        <Footer current_path={{ current_path }} />
    </div>
</Base>
