{#def title, date_text="", subtitle="" #}

<article>
    <div class="flex flex-col space-y-1">
        <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-1 sm:gap-2">
            <h3 class="text-sm sm:text-base font-semibold leading-none text-white">{{ title }}</h3>
            {% if date_text %}
            <p class="text-xs sm:text-sm text-gray-500 shrink-0">{{ date_text }}</p>
            {% endif %}
        </div>
        {% if subtitle or content %}
        <div class="font-mono text-xs sm:text-sm text-gray-400">
            {% if subtitle %}<p>{{ subtitle }}</p>{% endif %}
            {{ content }}
        </div>
        {% endif %}
    </div>
</article>
