{#import "@ui/layouts/site.jinja" as Site #}
{#import "@ui/ui/card.jinja" as Card #}

<Site
  title="Portfolio Home"
  brand="Fabio Souza"
  navbar_links=[
    {"href": request.url_for("portfolio.home"), "label": "Home"},
    {"href": "/about", "label": "About"},
    {"href": "/contact", "label": "Contact"},
  ]
>
  <Card title="Welcome" description="Hello world!">
    <p class="ui-muted">
      This is my personal portfolio website.
    </p>
  </Card>
</Site>
